
  <div class="wrapper">
    <section class = mapInfo>
      <div id="ol-map"></div>
      <div class="buttons">
        <button class="mapBtn" mat-flat-button color="primary" (click) = "saveNewPoint()">Сохранить</button>
        <button class="mapBtn" mat-flat-button color="primary" (click)="clearAllMarksAndTracks()">Очистить</button>
        <button class="mapBtn" mat-flat-button color="primary" (click) = "connectTheMarks()">Показать</button>
      </div>
    </section>
    <section class="markers">
      <h2 class="markers__title">Список сохранённых точек</h2>
      <mat-list>
        <mat-list-item *ngFor="let p of map.getPoints()">
          <span matListItemTitle>{{p.adress}}</span>
          <span matListItemLine>Долгота: {{p.longitude}} Широта: {{p.latitude}}</span>
        </mat-list-item>
        </mat-list>
    </section>
  </div>
